
body{ 
  margin: 0;
 background-color:#cb9800  	;
 height: 100vh;
 width: 100%;
 z-index: 2;
}
.header{
 display: flex;
 justify-content: center;
 background-color: #cb9800;
 border-bottom:#e1b303 solid 0.2rem ;
 border-bottom-left-radius:  2rem;
 overflow: hidden;
 object-fit: contain;
 padding: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  margin: 0 ;
  height: 10vh;
}
nav{
position: -webkit-sticky;
position: sticky;
top: 8.7rem;
z-index: 1;
background-color: burlywood;
margin: 0;
padding:0.1rem;
margin-left: 1.8rem;
border-bottom-left-radius: 2rem;

}
ul{
  display: flex;
 justify-content: space-around;
}

main{
  padding: 1rem;
    border-bottom:#e1b303 solid 0.2rem;
  border-radius: 5rem;
  margin: 1rem;
  position: relative;
  
}

h1{
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    padding-left: 0.5rem;
    color: black;
    font-size: 2rem;
    transition: 500ms;
}
h1:hover{
font-size: 2.25rem;
transition: 1000ms;
}
   
#logo{
    
    height: 5rem;
    width: 5rem;
    transition: 500ms;
}
#logo:hover{
    
    height: 6rem;
    width: 6rem;
    transition: 1000ms;
}

.shop-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(6vw, 18vw));
  grid-template-rows: repeat(3, 40vh );
  object-fit: cover;
  break-inside: avoid;
  position: relative;
  justify-content: center;
  width: 100%;
  justify-self: center;
  grid-gap: 3rem;


 
}
.cart-menu{
  position: sticky;
  font-size: 5rem;
  bottom: 1rem;
  background-color: #e1b303;
  float: right;
  border-radius: 1rem;
 padding: 0.5rem;
 margin-right: 3rem;

  
}
.cart-menu:hover{
  
  cursor: pointer;
}
button{
  text-decoration: none;
  border:none;
  background-color: #e1b303;
  font-size: 5rem;
}

.information{
  font-size: 0;
   font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    color: black;
    transition: 0.5s;
}
.item-showcase{
  object-fit: fill;
  border-right: solid #cb9800 0.1rem;
  border-bottom: solid #cb9800 0.1rem;
  justify-self: stretch;
  border: solid #e1b303 0.2rem;
  border-radius: 1.5rem;
  border-left: transparent black 0.1rem;
  border-top: transparent black 0.1rem;
  overflow: hidden;
  transition: 1s;

}
.item-showcase:hover{
    border-left: solid black 0.25rem;
  border-top: solid black 0.25rem;
  transition: 1500ms;
  cursor: pointer;
}
.item-showcase:hover .information{
    font-size: medium;
    transition: 0.5s;
}
.item-showcase img{
  width: 15vw;
  height: 30vh;
  transition: 1s;
  align-self: center;
}
.item-showcase:hover img {
  width: 15vw;
  height: 30vh;
  transition: 1s;
}
footer{
  background-color: black;

}
footer img{
  height: 15vh;
  width: 55vh;
}
a{
   font-family: 'Chakra Petch', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}
a:link{
  text-decoration: none;
  
}
a:visited{
  text-decoration: none;
}
.dropbtn{
  border: 0;
  background-color: burlywood;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.25rem;
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus{
  background-color: rgb(202, 168, 123);
  transition: 1s;
}
.dropdown{
  position: relative;
  display: inline-block;
  font-family: 'Chakra Petch', sans-serif;
  transition: 1s;
}
.dropdown-content{
  display: none;
  position: absolute;
  min-width: 10vw;
  z-index: 1;
  font-family: 'Chakra Petch', sans-serif;
  background-color: rgba(233, 192, 140, 0.76);
  border-radius: 0.25rem;
  transition: 1s;

}
.dropdown-content a{
  display: block;
}
.dropdown-content a:hover{
  background-color:rgb(202, 168, 123);
  
}
.dropdown:hover .dropdown-content {
  display: block;
  transition: 500ms;

}
.dropdown:hover .dropbtn {background-color: burlywood;}