
body{ 
  margin: 0;
 background-color:#cb9800  	;
}
.header{
 display: flex;
 justify-content: center;
 background-color: #cb9800;
 border-bottom:#e1b303 solid 0.2rem ;
 border-bottom-left-radius:  2rem;
 overflow: hidden;
 object-fit: contain;
 padding: 2rem;
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 1;
margin: 0 ;
}
nav{
position: -webkit-sticky;
position: sticky;
top: 9.5rem;
z-index: 2;
background-color: burlywood;
margin: 0;
padding: 0.1rem;
margin-left: 1.8rem;
border-bottom-left-radius: 2rem;

}
ul{
  display: flex;
 justify-content: space-around;
}

main{
  padding: 1rem;
    border-bottom:#e1b303 solid 0.2rem;
  border-radius: 5rem;
  margin: 1rem;
  position: relative;
  
}

h1{
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    padding-left: 0.5rem;
    color: black;
    font-size: 2rem;
    transition: 500ms;
}
h1:hover{
font-size: 2.25rem;
transition: 1000ms;
}
   
#logo{
    
    height: 5rem;
    width: 5rem;
    transition: 500ms;
}
#logo:hover{
    
    height: 6rem;
    width: 6rem;
    transition: 1000ms;
}

.shop-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(6vw, 24vw));
  grid-template-rows: repeat(auto-fill, minmax(12.5vh, 50vh));
  object-fit: cover;
  break-inside: avoid;
  position: relative;
  justify-content: center;
  width: 100%;
  justify-self: center;
  grid-gap: 3rem;


 
}
#information{
  font-size: 0;
   font-family: 'Chakra Petch', sans-serif;
    text-align: center;
    color: black;
}
.item-showcase{
  object-fit: fill;
  height: 50vh;
  border-right: solid #cb9800 0.1rem;
  border-bottom: solid #cb9800 0.1rem;
  justify-self: stretch;
  border: solid #e1b303 0.2rem;
  border-radius: 1.5rem;
  border-left: transparent black 0.1rem;
  border-top: transparent black 0.1rem;
  overflow: hidden;
  transition: 1s;

}
.item-showcase:hover{
    border-left: solid black 0.25rem;
  border-top: solid black 0.25rem;
  transition: 1500ms;
  cursor: pointer;
}
.item-showcase:hover #information{
    font-size: medium;
    transition: 0.5s;
}
.item-showcase img{
  width: 23vw;
  height: 40vh;
  transition: 1s;
  align-self: center;
}
.item-showcase:hover img {
  width: 24vw;
  height: 41vh;
  transition: 1s;
}
footer{
  background-color: black;

}
footer img{
  height: 15vh;
  width: 55vh;
}
a{
   font-family: 'Chakra Petch', sans-serif;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}
a:link{
  text-decoration: none;
  
}
a:visited{
  text-decoration: none;
}